@keyframes box-cursor-blink-animation {
    0% {
        background: black;
    }
    50% {
        background: white;
    }
    100% {
        background: black;
    }
}

.box-cursor-blink {
    animation-name: box-cursor-blink-animation;
    animation-duration: 1s;
    animation-timing-function: step-start;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    white-space: pre-wrap;
}

@keyframes horizontal-cursor-blink-animation {
    0% {
        background: black;
    }
    50% {
        background: linear-gradient(0deg, white, white 10%, black 10%, black);
    }
    100% {
        background: black;
    }
}

.horizontal-cursor-blink {
    animation-name: horizontal-cursor-blink-animation;
    animation-duration: 1s;
    animation-timing-function: step-start;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    white-space: pre-wrap;
}

@keyframes vertical-cursor-blink-animation {
    0% {
        background: var(--grv-text-console-background-color);
    }
    50% {
        background: linear-gradient(90deg, white, white 4px, var(--grv-text-console-background-color) 4px, var(--grv-text-console-background-color));
    }
    100% {
        background: var(--grv-text-console-background-color);
    }
}
.vertical-cursor-blink {
    animation-name: vertical-cursor-blink-animation;
    animation-duration: 1s;
    animation-timing-function: step-start;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    white-space: pre-wrap;
}

.text-console {
    color: white;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    white-space: pre-wrap;
}

.input-area {
    opacity: 0;
    outline: none;
    caret-color: transparent;
    display: inline-block;
    /* For IME */
    color: 'black';
    background-color: 'white';
}
