body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Consolas, SFMono-Regular, 'Roboto Mono', 'Courier New', Courier, monospace;
    font-weight: normal;
    background-color: black;
}

.window {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.text-buffer {
    flex-grow: 1;
    overflow-y: scroll;
    background-color: black;
    color: white;
    padding: 2px 2px 2px 5px;
}

.mode-line {
    height: 1em;
    background-color:white;
    color: black;
    padding: 2px 0 2px 5px;
}

#mini-buffer {
    min-height: 1em;
    background-color: black;
    color: white;
    padding: 2px 0 2px 5px;
}